h1 {
    text-align: center;
    font-size: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-family: 'Candal', sans-serif;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: rgba(37, 108, 189);;
  font-size: 40px;
  padding: 5px;
  color: white;
  font-family: 'Candal', sans-serif;
}
.options{
    display:block;
    text-align: center;
    height: 80px;
    width: 1000px;
    margin: auto;
    background-color: rgba(37, 108, 189);
    border-style:solid;
    transition: 0.4s;
    margin-top: 100px;
    margin-bottom: 100px;
}
.optiontext{
    position: relative;
    text-align: center;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 40px;
    top: 15px;
}
.options:hover{
    position: relative;
    display:block;
    text-align: center;
    width: 1200px;
    margin: auto;
    background-color: rgba(37, 108, 189);
    border-style: solid;
    top: 15px;
     margin-top: 100px;
    margin-bottom: 100px;
}
#about {
    font-size: 50px;
}
p{
    font-size:30px;
}
.footer {
    background: #303036;
    color: white;
    height: 500px;
    position: relative;
}
.footer .footer-content {
    display: flex;
}
.footer .footer-content .footer-section{
    flex: 1;
    
    
}
.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    text-align: center;
    position: absolute;
    padding-top: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size:20px;
}
#content-footer, .contact1, .social
{
  margin-left: 30px;
}
.con {
  width:1000px;
  margin: auto;
  font-size: 25px;
  background-color: rgba(199, 248, 191);
  padding: 35px;
}
